@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    addTagHelper is neccessary for the element to know what asp-page attribute is. Attribute's color is darker when recognized'
*@

@namespace Shop.UI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Shop.Application.Cart.GetCart.Response
@{
}


<a class="navbar-item" asp-page="/Cart">
    Cart @Model.TotalPriceString
</a>
