@page
@model IndexModel
@using Shop.UI.Pages.Admin
@{
}

<div id="app" class="container">
    @*if not editing*@
    <div v-if="!editing">
        <button class="button" @@click="newProduct">Add New Product</button>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>Category</th>
            </tr>
            <tr v-for="(product, index) in products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.value}}</td>
                <td>{{product.category}}
                <td><a @@click="editProduct(product.id, index)">Edit</a></td>
                <td><a @@click="deleteProduct(product.id, index)">Remove</a></td>
            </tr>
        </table>
    </div>
    @*if editing*@
    <div class="field" v-else>
        <div class="control">
            <label class="label">Product Name</label>
            <input class="input" v-model="productModel.name" />
        </div>
        <div class="control">
            <label class="label">Product Description</label>
            <input class="input" v-model="productModel.description" />
        </div>
        <div class="control">
            <label class="label">Product Value</label>
            <input class="input" v-model="productModel.value" />
        </div>
        <div class="control">
            <label class="label">Product Category</label>
            <input class="input" v-model="productModel.category" />
        </div>
        <button class="button is-success" @@click="createProduct()" v-if="!productModel.id">Create Product(Picture has default path + product.Name)</button>
        <button class="button is-warning" @@click="updateProduct()" v-else>Update Product</button>
        <button class="button" @@click="cancel">Cancel</button>
    </div>
</div>


@section scripts{
    <script src="~/js/admin/products.js"></script>
}