@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*Word 'Model' can be used to access the IndexModelClass instance, which is defined in the Index.cshtml.cs file*@

<br/>
<div>
    @foreach (var product in Model.Products)
    {
        <a asp-page="Product" asp-route-name="@product.Name.Replace(" ", "-")">
            @*this asp-route-name thing works because i specified he route at the product.cshtml after page*@
        @product.Name - @product.Description - @product.Value
    </a>
    <br />
    }
</div>
<br/>
@await Component.InvokeAsync("Cart", new { view = "Small"})